/* .container-fluid {
  margin: 0 !important;
  padding: 0 !important;
} */

/* .row>* {
  padding: 0 !important;
  margin: 0 !important;
} */

/* .main{
  min-height: 100vh;
  width: 100% !important;
} */

.app{
  min-height: 100vh;
  width: 100% !important;

}
.r-side {
  padding-left: 250px!important;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.main {
  margin-top: 55px;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

@media (max-width: 767px) {
  .r-side {
    padding-left: 0px !important;
    min-width: 100% !important;
  }
}


/* Especific colors */
.text-yellow-600 {
    color: #cc9a06!important
}